/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.text-gradient {
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

html {
	@apply bg-gray-50;
}

html,
body {
	height: 100%;
}

.app-container {
	@apply min-h-[386px] flex flex-col items-center justify-center;
}
